@media (max-width: 600px)
{
    body
    {
        background-color: black;
    }

    /* 1 блок */
    .block1
    { 
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 2em;
    }

}